<div class="row center">
    <div class="col s12">
        <a class="my-black-btn stretchy" href="./#/manual">SKRIV IN ARTIKLENUMMER</a>
    </div>

    <div class="col s12">
        <a class="my-black-btn stretchy" href="./#/scan">SCANNA VARA</a>
    </div>

    <div class="col s12">
        <a class="my-black-btn stretchy" href="./#/items">LÄGG TILL VARA IFRÅN LISTA</a>
    </div>

    <div class="col s12">
        <br/>
        <br/>
        <br/>
        <a class="my-black-btn stretchy" href="./#/mycart">BETALA</a>
    </div>


</div>


