<table class="bordered">
    <thead>
    <tr>
        <th data-field="name">Name</th>
        <th data-field="quant">Quant</th>
        <th data-field="vat">VAT%</th>
        <th data-field="total">Total</th>
        <th data-field="remove">Remove</th>
    </tr>
    </thead>
    <tbody>


    <tr data-ng-repeat="item in myItems">
        <td>{{item.name}}</td>
        <td>{{item.salePrice}} * {{item.quant}}st</td>
        <td>{{item.VAT}}%</td>
        <td>{{item.totalPrice}}</td>
        <td data-ng-click="removeItem(item)" class="red"> REMOVE</td>
    </tr>


    </tbody>
</table>

<div class="buttons bottom">
    <a href="./#/main" class="my-green-btn">Lägg till fler varor</a>
    <a href="" data-ng-click="pay()" class="my-green-btn">Bettala</a>
</div>
