<div class="row">

    <table class="bordered s12">
        <thead>
        <tr>
            <th data-field="name">Namn</th>
            <th data-field="quant">Antal</th>
            <th data-field="vat">MOMS%</th>
            <th data-field="total">Total</th>
            <th data-field="remove">Ta bort</th>
        </tr>
        </thead>
        <tbody>


        <tr data-ng-repeat="item in myItems">
            <td>{{item.name}}</td>
            <td>{{item.salePrice}} * {{item.quant}}st</td>
            <td>{{item.VAT}}%</td>
            <td>{{item.salePrice * item.quant}}</td>
            <td data-ng-click="removeItem(item)" class="red"><i class=" center small material-icons">delete</i></td>
        </tr>


        </tbody>
    </table>
</div>


<div class="row">
    <div class="col s12 m6 soft-padding">
        <a href="./#/main" class="my-green-btn stretchy">Lägg till fler varor</a>
    </div>

    <div class="col s12 m6 soft-padding">
        <a href="" data-ng-click="pay()" class="my-green-btn right stretchy">Betala</a>
    </div>
</div>

<div class="buttons row col s12 m6">
</div>

<div class="buttons row col s12 m6">
</div>

