<div class="centered container">

    <p>Seller: John Doe</p>
    <p>Time: {{receipt.date}}</p>
    <hr>
    <div data-ng-repeat="item in receipt.items">
        <span style="left: 0">{{item.name}}</span>
        <span style="right: 0;position: absolute; width: 300px">
            <span style="left: 0;position: absolute"> {{item.salePrice}} * {{item.quant}}st</span>
            <strong style="right: 0;position: absolute">{{item.totalPrice}}</strong>
        </span>
    </div>

    <hr>
    <span>Total: </span><strong style="right: 0; position: absolute">{{receipt.totalPrice}}</strong>

</div>