<div class="container">


    <div class="row">


        <div class="col s12">

            <p>Seller: John Doe</p>
            <p>Time: {{receipt.date}}</p>

            <table class="bordered">
                <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="quant">Quant</th>
                    <th data-field="vat">VAT%</th>
                    <th data-field="total">Total</th>
                </tr>
                </thead>

                <tbody>
                <tr data-ng-repeat="item in receipt.items">
                    <td>{{item.name}}</td>
                    <td>{{item.salePrice}} * {{item.quant}}st</td>
                    <td>{{item.VAT}}%</td>
                    <td>{{item.totalPrice}}</td>
                </tr>
                </tbody>
            </table>
            <p>VAT %:<strong class="right">{{receipt.totalVat.percent}}</strong></p>
            <p>Vat :<strong class="right">{{receipt.totalVat.money}}</strong></p>
            <h5>Total:<strong class="right">{{receipt.totalPrice}}</strong></h5>

        </div>
    </div>


</div>