<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae interdum metus, eget pharetra leo. Donec
    eros tortor, eleifend sed molestie a, ultrices vel nibh. Vestibulum blandit, nunc eu adipiscing mattis, dui ante
    pulvinar diam, quis tristique nibh elit id tortor. Nullam metus dolor, aliquam sed odio quis, scelerisque interdum
    felis. Ut in fermentum tortor. Morbi et lacinia nunc. Aenean elementum mollis enim bibendum pellentesque.
</p>
<div class="center">

    <div>
        <a href="./#/main" class="my-green-btn" data-ng-show="showSignOut">Börja handla</a>
    </div>

    <h4>{{status}}</h4>



    <a href="" data-ng-show="showSignOut" class="my-black-btn" data-ng-click="signOut();">Sign out</a>
    <a href="" data-ng-show="showLogin" class="my-green-btn" data-ng-click="onLogInButtonClick()">Log In</a>
</div>
