<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Store Sales</h2>
            <canvas id="bar" class="chart chart-bar"
                    data-chart-data="barData" data-chart-labels="barLabels"> chart-series="series"
            </canvas>

            <h2>Sales by person</h2>
            <canvas id="doughnut" class="chart chart-doughnut"
                    data-chart-data="doughnutData" data-chart-labels="doughnutLabels">
            </canvas>

        </div>
    </div>
</div>
