    <div class="row">
        <div class="col s12">

            <h2>Butiksinfo</h2>
            <canvas id="bar" class="chart chart-bar"
                    data-chart-data="barData" data-chart-labels="barLabels">
            </canvas>

        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">

            <h5>Artiklar sålda</h5>
            <canvas id="doughnut" class="chart chart-doughnut"
                    data-chart-data="doughnutData" data-chart-labels="doughnutLabels">
            </canvas>

        </div>

        <div class="col m6 s12">
            <h5>Summa av artiklar sålda</h5>
            <canvas id="doughnut1" class="chart chart-doughnut"
                    data-chart-data="doughnutData1" data-chart-labels="doughnutLabels1">
            </canvas>


        </div>
    </div>
