
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

div.itemImage {
    padding-top: 10px;
    height: 200px;
}

div.card-content {
    line-height: 1.5em;
    height: 6em;
    overflow: hidden;
}

div.card div.card-action a.show-more-info {
    float: right;
}

article.item {
    padding-bottom: 30px;
    margin-bottom: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}



/*This is just to override the materialize css card-action class  */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    margin-right: 0;
}